option_settings:
  - option_name: SFDC_USERNAME
    value: placeholder-sfdc-username
  - option_name: SFDC_PASSWORD
    value: placeholder-sfdc-password
  - option_name: SFDC_TOKEN
    value: placeholder-sfdc-token
  - option_name: SALESOPS_GOOGLE_OAUTH2_CLIENT_ID
    value: placeholder-google-oauth2-client-id
  - option_name: SALESOPS_GOOGLE_OAUTH2_CLIENT_SECRET
    value: placeholder-google-oauth2-client-secret